<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Chat application{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="../assets/styles/signin.css" rel="stylesheet"/>
		<link href="../assets/styles/list-group.css" rel="stylesheet"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock %}">
        {# Put the header in a file #}
		{# {% block header %}{% endblock %} #}
		{% block body %}{% endblock %}
	</body>
</html>
