{% extends 'base.html.twig' %}

{% block title %}Info message
{% endblock %}

{% block body %}

	<main class="container">
		<div class="card">
			<div class="card-header">
				Info del mensaje
			</div>
			<div class="card-body">
				<h5 class="card-title">From:
					{{ message.id }}</h5>
				<p class="card-text">{{ message.text }}</p>
				<a href="{{ path('new_message') }}" class="btn btn-primary">
					Answer</a>
			</div>
			<div class="card-footer text-muted">
				{{ message.timestamp|date("H:i:s m/d/Y ") }}
			</div>
		</div>
	</main>

{% endblock %}
