{% extends 'base.html.twig' %}

{% block title %}Info message
{% endblock %}

{% block body %}

	<main class="container">
		<div class="card">
			<div class="card-header">
				Message information
			</div>
			<div class="card-body">
				<h5 class="card-title">From:
					{{ user.email }}</h5>
				<h6 >Text:</h6>
				<p class="card-text">
					{{ message.text }}</p>
				<a href="{{ path('new_message', {'email':user.email})}}" class="btn btn-primary">
					Answer</a>
			</div>
			<div class="card-footer text-muted">
				Date:
				{{ message.timestamp|date("H:i:s m/d/Y ") }}
			</div>
		</div>
	</main>

{% endblock %}
