{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!
{% endblock %}

{% block body %}
	<div class="list-group">
		<h2>
			Contacts list
		</h2>
		{% for contact in contacts %}
			<div
				class="card">
				{# <img src="..." class="card-img-top" alt="..."> #}
				<div class="card-body">
					<h5 class="card-title">{{ contact.email }}</h5>
					<p class="card-text">{{ contact.roles[0] }}</p>
					<a href="{{ path('users_profile', {'id': contact.id}) }}" class="btn btn-primary">Check profile</a>
				</div>
			</div>
		{% endfor %}
		<a href="{{ path('messages_index') }}" class="btn btn-secondary mt-2">Go back</a>
	</div>

{% endblock %}
