{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="list-group">
			<div class="card mb-3 border-light" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="../../assets/images/abstract_blue.jpg" class="img-fluid rounded-start" alt="Foto De perfil">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ user.id }}</h5>
							<p class="card-text">Email:
								{{ user.email }}</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="mb-4">
			<a href="{{ path('users_edit_profile', {'id': user.id}) }}" class="btn btn-primary btn-lg btn-block <?= $isDisabledEdit ?>">
				Edit profile
			</a>
		</div>
	</div>

{% endblock %}
